numpy>=1.24.0
matplotlib>=3.7.0
scipy>=1.10.0
pandas>=1.5.3
seaborn>=0.12.2
tqdm>=4.64.1

# Optional dependencies for advanced features
uproot>=4.3.5           # If working with ROOT files
h5py>=3.8.0             # For saving data in HDF5 format
PyYAML>=6.0             # Configurable model parameters
lxml>=4.9.2             # For parsing GDML files
